{% extends "default.html" %}
{% block title %}Firmware Component Issues{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

{% if md.fw.remote.is_public and md.check_acl('@modify-requirements') %}
  <div class="alert alert-danger mt-1" role="alert">
    This firmware has already been pushed to {{md.fw.remote.name}} and in this
    target no modifications are possible.
  </div>
{% endif %}

<fieldset {{ 'disabled="disabled"' if not g.user.check_acl('@admin') and md.fw.remote.is_public }} >
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Issues</h2>
    <p class="card-text">
{% if md.check_acl('@modify-updateinfo') %}
      CVE information about the release can be entered here, or
      <a href="{{url_for('components.route_issue_autoimport', component_id=md.component_id)}}">auto-imported</a>
      from the existing update description.
{% else %}
      CVE information about the release can be entered here, or auto-imported
      from the existing update description.
{% endif %}
    </p>
<table class="table">
{% for issue in md.issues %}
  <tr class="row">
    <td class="col col-lg-2"><code><a href="{{issue.url}}">{{issue.value_display}}</a></code></td>
    <td class="col col-lg-5">{{issue.description or "—"}}</td>
    <td class="col col-lg-3 text-secondary">Added on {{issue.timestamp.strftime('%F %T')}} by {{issue.user.username}}</td>
    <td class="col">
{% if md.check_acl('@modify-updateinfo') %}
      <form action="{{url_for('components.route_issue_delete', component_id=md.component_id, component_issue_id=issue.component_issue_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-danger">Delete</button>
      </form>
{% endif %}
    </td>
  </tr>
{% endfor %}
{% if md.check_acl('@modify-updateinfo') %}
  <form method="post" action="{{url_for('components.route_issue_create', component_id=md.component_id)}}" class="form">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <tr class="row table-borderless">
    <td class="col col-lg-10">
      <input type="text" class="form-control" name="value" placeholder="VU#123456,CVE-2019-00000,CVE-2019-12345" required>
    </td>
    <td class="col">
      <input class="btn btn-block btn-primary" type="submit" value="Add">
    </td>
  </tr>
  </form>
{% endif %}
</table>
  </div>
</div>
</fieldset>
{% endblock %}
