{% extends "default.html" %}
{% block title %}Settings{% endblock %}

{% block nav %}{% include 'settings-nav.html' %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
  <form class="form" method="post" action="{{url_for('settings.route_modify', plugin_id=plugin.id)}}">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <h2 class="card-title">{{plugin.name}}</h2>
    <p class="card-text">{{plugin.summary}}</p>
{% for s in plugin.settings %}
    <div class="form-group">
{% if s.__class__.__name__ == 'PluginSettingBool' %}
      <div class="custom-control custom-switch">
        <input class="custom-control-input" type="checkbox" id="{{s.key}}"
          id="{{s.key}}" name="{{s.key}}" value="enabled" {{'checked' if settings[s.key] == 'enabled'}}/>
        <label class="custom-control-label" for="{{s.key}}">
          {{s.name}}
        </label>
      </div>
      <input type="hidden" name="{{s.key}}" value="disabled"/>
{% elif s.__class__.__name__ == 'PluginSettingList' %}
      <label for="{{s.key}}">{{s.name}}</label>
      <textarea type="text" class="form-control" id="{{s.key}}" name="{{s.key}}" rows="10">{{settings[s.key].replace(',', '\n')}}</textarea>
{% elif s.__class__.__name__ == 'PluginSettingInt' %}
      <label for="{{s.key}}">{{s.name}}</label>
      <input type="number" class="form-control" id="{{s.key}}" name="{{s.key}}" value="{{settings[s.key]}}">
{% else %}
      <label for="{{s.key}}">{{s.name}}</label>
      <input type="text" class="form-control" id="{{s.key}}" name="{{s.key}}" value="{{settings[s.key]}}">
{% endif %}
    </div>
{% endfor %}
    <input type="submit" class="card-link btn btn-primary" value="Save">
  </form>
  </div>
</div>
{% endblock %}
