{% extends "default.html" %}

{% block title %}Permission denied{% endblock %}

{% block content %}
<div class="row flex-center min-vh-100 py-6 text-center">
  <div class="col-sm-10 col-md-8 col-lg-6 col-xxl-5">
    <div class="card">
      <div class="card-body p-4 p-sm-5">
        <div class="display-1 text-200 fs-error">401</div>
        <p class="lead mt-4 text-800 text-sans-serif font-weight-semi-bold">
          Permission denied: {{msg}}
        </p>
        <hr/>
        <p>
          Make sure the address is correct and that your user account is allowed access to this resource.
          If you think this is a mistake please <a href="mailto:{{admin_email}}">contact us</a> or your LVFS vendor manager.
        </p>
        <a class="btn btn-primary btn-sm mt-3" href="{{url_for('main.route_index')}}">
          <img class="fa" src="{{url_for('cdn', filename='img/home-solid.svg')}}" width="16px" height="16px" />
          Back Home
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
