.table-borderless td,
.table-borderless th {
    border: 0;
}

input[type=text].fixed-width
{
    font-family: monospace;
    font-size: 110%;
}

textarea.fixed-width
{
    font-family: monospace;
}

.input-group>.input-group-prepend {
    flex: 0 0 30%;
}
.input-group .input-group-text {
    width: 100%;
}

img.grayscale {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
   opacity: 0.4;
}

.search-input-landing:focus {
  color: rgba(255, 255, 255, 0.7);
}

a .fa:hover {
    opacity:0.9;
}

.fa {
    opacity:0.5;
}
